body {
    background-color: #001f3f;
    /* Azul marino oscuro */
    color: #fff;
    /* Texto blanco */
    padding: 15px;
    font-family: Arial, sans-serif;
}

.titulos {
    background-color: #003366;
    /* Azul marino más claro */
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.respuesta {
    background-color: #336699;
    /* Azul marino claro */
    color: #fff;
    text-align: center;
    margin: 5px;
    padding: 16px;
    font-size: 24px;
}

input[type="text"] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #00274d;
    /* Azul marino más oscuro */
    color: #fff;
    border: none;
}

button {
    background-color: #005cbf;
    /* Azul */
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004080;
    /* Azul más oscuro al pasar el ratón */
}

.imagen {
    display: block;
    margin: 0 auto;
    /* Centrar horizontalmente */
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-out;
}

.imagen:hover {
    transform: scale(1.1);
}

.imagen-container {
    text-align: center;
}